<!DOCTYPE html>
<html>
  <head>
    <title>test</title>
  </head>
  <body ng-app="720kb.test">
    <div ng-controller="TestController">

      <input type="text" ng-model="whoami"/>
      <input type="text" ng-model="what"/>

      <button ng-click="userIsPresent()">user is present</button>
      <button ng-click="broadcast()">broadcast</button>
    </div>
    <script type="text/javascript" src="comunicator.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>
    <script type="text/javascript" src="comunicator-ng.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </body>
</html>
