<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
</head>
<body class="grey lighten-3" ng-app="720kb.test">
  <nav class="white">
    <div class="nav-wrapper black-text">
      <a href="#" class="brand-logo black-text">
        &nbsp;
        <small>Comunicator <span class="grey-text">Test</span></small>
      </a>
    </div>
  </nav>
  <div class="container" ng-controller="TestController">
    <p>
      <div class="row blank-text">
        <input type="text" ng-model="token" placeholder="Whoami"/>
        <input type="text" ng-model="what" placeholder="What"/>
        <input type="text" ng-model="userID" placeholder="User ID"/>
      </div>
    </p>
    <div class="row center-align">
      <div class="col s4">
        <button class="btn col m12 blue waves-effect waves-light" ng-click="userIsPresent()">
          USER IS PRESENT
        </button>
      </div>
      <div class="col s4">
        <button class="btn col m12 indigo waves-effect waves-light" ng-click="broadcast()">BROADCAST
        </button>
      </div>
      <div class="col s4">
        <button class="btn col m12 pink  waves-effect waves-light" ng-click="sendTo()">
          SEND TO
        </button>
      </div>
    </div>

    <div ng-show="message" class="card white">
      <div class="card-content">
        <h6 class="center-align" ng-show="message">
          {{message}}
        </h6>
        <p class="col m12 center-align blue-text">{{eventData}}</p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="comunicator.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0-rc.0/angular.min.js"></script>
  <script type="text/javascript" src="comunicator-ng.js"></script>
  <script type="text/javascript" src="index.js"></script>
</body>
</html>
